body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #020617;
    color: #e2e8f0;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #020617;
    border-bottom: 1px solid rgba(56,189,248,0.2);
}

nav h1 {
    color: #38bdf8;
    margin: 0;
}

nav div {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #94a3b8;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}

/* MAIN */
.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* HERO */
.hero h2 {
    font-size: 42px;
    color: #38bdf8;
    margin-bottom: 5px;
}

.hero p {
    color: #94a3b8;
}

/* SECTIONS */
section {
    margin-top: 40px;
}

h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

/* PROJECT BOX */
.project {
    background: #0f172a;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgba(56,189,248,0.2);
}

/* LIST */
ul {
    padding-left: 20px;
}
